.homeBox {
  display: flex;
}

.info {
  width: 20%;
  color: blue;
}

.userInfo {
  width: 200px;
}

.course {
  width: 80%;
}

.Navbar {
  border: 2px solid red;
  height: auto;
}
.my-row {
  border: 2px solid red;
  height: 800px;
}
.my-col {
  border: 2px dotted black;
}
.nav {
  color: silver
}
